.app{

display:flex;

height:100%;

}

.sidebar{

width:260px;

background:white;

padding:25px;

box-shadow:

0 10px 30px rgba(0,0,0,.08);

}

.logo{

display:flex;

align-items:center;

gap:15px;

margin-bottom:40px;

}

.menu{

display:flex;

flex-direction:column;

gap:10px;

}

.menu button{

padding:15px;

border:none;

border-radius:12px;

background:#ececec;

cursor:pointer;

transition:.25s;

}

.menu button:hover{

background:#0071e3;

color:white;

}

.content{

flex:1;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

background:#f5f5f7;

}
